{
   "plugins": [
          ["@semantic-release/commit-analyzer", {
            "preset": "conventionalchangelog"
          }],
      "@semantic-release/changelog", "@semantic-release/release-notes-generator", "@semantic-release/github"
   ]
}
